---
import { Typography } from "./react/Typography";
import Separator from "./react/Separator";
import Title from "./Title.astro";

interface Props {
	title?: string;
	subtitle?: string;
}

const {
	title = "Как мы работаем?",
	subtitle = "Вот уже более 5 лет наше агенство занимается колонизацией Марса. Найдите свое место на этой планете при помощи нашей системы",
} = Astro.props;

const steps = [
	{
		id: 1,
		title: "Выберите город",
		desc: "Уже более 15 стран размерают новые города на марсе. Если ваша страна из их числа - добро пожаловать!",
	},
	{
		id: 2,
		title: "Подберите жилье",
		desc: "В каждом городе вы найдете большое колличество различных жилых объектов, будь то частные дома или квартиры",
	},
	{
		id: 3,
		title: "Начните зарабатывать деньги",
		desc: "Вы можете начать свой бизнес на марсе. Придумайти идею, подберите помещение или участок и начинайте свой бизнес.",
	},
];
---

<section class="w-screen min-h-screen mt-60">
	<img src="/svg/Vector.svg" class="relative top-28 left-20" />
	<div class="flex flex-col items-center">
		<Title title={title} subtitle={subtitle} />

		<div class="flex flex-row items-center justify-center px-64 mt-16">
			<ul class="flex flex-col justify-center items-center">
				{
					steps.map((step) => (
						<li class="w-11/12">
							<div class="flex flex-col gap-4">
								<div class="flex flex-row items-center px-16">
									<p class="mt-4 self-start text-2xl text-white mr-6 bg-pink rounded-full w-14 h-14 p-8 flex items-center justify-center font-black">
										{step.id}
									</p>
									<div class="mt-4">
										<Typography variant="h5" className="text-white font-black">
											{step.title}
										</Typography>
										<Typography
											variant="body"
											className="text-white font-regular mt-4 leading-tight"
										>
											{step.desc}
										</Typography>
									</div>
								</div>

								{step.id !== 3 && (
									<Separator className="bg-darkGray w-inherit h-[7px] mb-4" />
								)}
							</div>
						</li>
					))
				}
			</ul>
			<img loading="lazy" src="/Planet.png" class="w-3/4 h-3/4" />
		</div>
	</div>
</section>
