---
import { Typography } from "../react/Typography";

interface Props {
	title: string;
	subtitle?: string;
	width?: string;
	align?: "start" | "center" | "end";
}

const { title, subtitle, width = "2/3", align = "center" } = Astro.props;
---

<div class=`flex flex-col items-${align} z-10`>
	<Typography
		variant="h1"
		className=`text-white uppercase text-${align} font-regular`
		>{title}</Typography
	>
	{subtitle && (
		<Typography
			variant="h2"
			className=`mt-8 font-light text-gray w-${width} text-${align}`
		>
			{subtitle}
		</Typography>
		)
	}
	
</div>
